html {
  font-size: 62.5%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  min-width: 120rem;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #000;
}
.main {
  width: 80%;
}
.page-header {
  margin: 5rem auto;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 3rem;
  line-height: inherit;
  text-align: center;
}
.filter {
  margin-bottom: 3rem;
}
.filter__label {
  margin-right: .5rem;
  font-weight: bold;
}
.filter__input {
  margin-right: .5rem;
  padding: .5rem 2rem;
  border: 0.2rem solid #cccccc;
}
.filter__input:hover,
.filter__input:focus {
  border-color: #0086b3;
}
.filter__submit,
.filter__reset {
  padding: .5rem 2rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: 0.2rem solid #cccccc;
  border-radius: 2.5rem;
  transition: all 0.2s ease-in-out;
}
.filter__submit:hover,
.filter__reset:hover {
  color: #fff;
  background-color: #0086b3;
  border-color: transparent;
  cursor: pointer;
}
.filter__submit {
  margin-right: 1rem;
}
.data {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  height: 40rem;
}
.data-table {
  width: 35%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.data-table__row:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
.data-table__row_active {
  color: #0086b3;
}
.data-table__column-name,
.data-table__cell {
  box-sizing: border-box;
  width: 25%;
  text-align: center;
  border: 0.2rem solid #cccccc;
}
.data-table__column-name {
  padding: 1rem .5rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #0086b3;
}
.data-table__cell {
  padding: .5rem .5rem;
}
.additions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 60%;
}
.map,
.graph {
  width: 48%;
  border: 0.2rem solid #cccccc;
}
.graph {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}
.graph__bar-rect {
  fill: #4dd2ff;
  stroke: #fff;
  stroke-width: .2rem;
  transition: fill 0.2s ease-in;
}
.graph__bar-rect_active {
  fill: #0086b3;
}
.graph__x-text {
  font-weight: bold;
  fill: #fff;
}
.graph__y-text {
  font-size: 1.4rem;
  fill: #999999;
}
.graph__ruler-guide {
  stroke: #999999;
  stroke-width: 1;
}
