.data {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 40rem;
}

.data-table {
  width: 35%;
  height: 100%;

  border-spacing: 0;
  border-collapse: collapse;
}

.data-table__row:hover {
  background-color: darken(@color-quinary, 3%);

  cursor: pointer;
}

.data-table__column-name,
.data-table__cell {
  box-sizing: border-box;
  width: 100% / 4;
  text-align: center;

  border: .2rem solid @color-quaternary;
}

.data-table__column-name {
  padding: 1rem .5rem;

  font-size: 1.8rem;
  color: @color-quinary;

  background-color: @color-secondary;
}

.data-table__cell {
  padding: .5rem .5rem;
}

.additions {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.map,
.graph {
  width: 48%;

  border: .2rem solid @color-quaternary;
}
